html {
  --color-primary: rgb(223, 41, 53);
  --color-primary-light: rgb(206, 88, 95);
  --color-bg: rgb(15, 15, 15);
  --color-bg-alt: rgb(25, 25, 25);
  --color-text: rgb(255, 255, 255);
  --color-text-dark: rgb(172, 172, 172);
  --max-width-lg: 1100px;
  --max-width-blog: 900px;

  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--color-primary);

  &:visited {
    color: var(--color-primary-light);
  }
}
